#header {
    margin:0;
    padding:1px;
    background-color:grey;
    position: sticky;
    top:0;
    width:100%;
    ul {
        display:flex;
        justify-content:space-around;
        padding-left:0;
        margin-left:0;
        list-style:none;
        li a {  
            color:whitesmoke;
            list-style:none;
            text-decoration:none;
        }
    }
}
#homebutton {
    border:1px solid white;
    padding:5px 10px;
}
#logo {
    background-color:white;
    text-align:center;
    width:100%;     
    p {
        padding:25px;
        margin-top:0;
        margin-bottom:20px;
        color:black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 75px;
        }
}
#footer {
    display:flex;
    justify-content:space-between;
    color:grey;
    width:100%;
    div {
        img {
            margin-right:20px;
            padding:10px;
        }
        p {
            margin-left:20px;    
            padding:10px; 
        }
    }
}