$backgroundColor1: black;
$backgroundColor2: fuchsia;
$borderColor: #3399ff;
$divWidth: 300px;
$divHeight: 300px;

// div {
//   width: $divWidth;
//   height: $divHeight;
//   background-color: $backgroundColor1;
// }

// div:nth-of-type(2) {
//   width: $divWidth;
//   height: $divHeight;
//   background-color: $backgroundColor2;
//   border: 1px solid $borderColor;
// }

@import 'responsive';