.HeaderHome {
    background-color: rgb(115, 175, 245);
    height: 40px;
    padding: 1px;
        h6 {
        color: white;
        margin-left: 200px;
        }
}

.HeaderBanner {
    background-color: rgb(8, 98, 128);
    height: 200px;
}